@import '../furo.css';

.wy-nav-content {
	max-width: 95%;
}

.tight-table td {
	.white-space: normal !important;
}

/* Grid table: light-weight table-row outline styling.  */
.top-border {
	border-top-width: thin;
	border-top-style: solid;
	border-top-color: darkgray;
}

.bottom-border {
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: darkgray;
}

.sidebar-logo {
	border-radius: 50%;
	filter: grayscale(80%);
}
